*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abril Fatface', cursive;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(223, 107, 107);
    
}



h1{
   background-color: rgb(155, 155, 218);
   font-size: 90px;
   margin-bottom: 50px;
}

.show{
    font-size: 80px;
    background-color: rgb(139, 226, 226);
    margin: 20px;
}

.btns{
    padding: 10px;
    letter-spacing: 2px;
    cursor: pointer;
}